body {
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    background-color: aliceblue;
}

.container {
    width: 830px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#header {
    padding-top: 20px;
    text-align: center;
}

.current-step {
    color: black;
}

.other-step {
    color: #777777;
}

#widthSlider {
    vertical-align: middle;
    width: 100%;
    max-width: 400px;
}

#loader {
    height: 300px;
    border: 4px dashed gray;
    border-radius: 10px;
    font-size: 20px;
    color: #777777;
    text-align: center;
    padding-top: 100px;
    background-image: url('count_slow.webp');
}

#loader p {
    display:inline-flex;
    border-radius: 1em;
    background-color: white;
    padding: 1em;
}

#loader button {
    overflow: hidden;
    position: relative;
}

#fileBrowser {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    opacity: 0;
    -moz-opacity: 0;
    cursor: pointer;
}

#toolbar {
    /*	height: 50px;*/
}

#buttons button {
    margin-bottom: 10px;
}

a.btn {
    /* For save buttons which are 'a' elements: */
    color: white;
}

#spinner {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    -webkit-animation: spin 0.75s linear infinite;
    -moz-animation: spin 0.75s linear infinite;
    animation: spin 0.75s linear infinite;	
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#palette {
    min-height: 70px;
    font-size: 0px;
}

.swatch {
    /*float: left;*/
    display: inline-block;
    margin: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
}

.swatch img {
    /*	display: none;*/
    float: right;
    margin: 1px;
    width: 20px;
    height: 20px;
}

.swatch img:hover {
    cursor: pointer;
}

.swatch-label {
    background-color: white;
    color: black;
    width: 20px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    /*margin: 2px;*/
    position: relative;
    top: 2px;
    left: 2px;
    border-radius: 2px;
}


#color-info > .btn {
    margin-bottom: 10px;
}


/*
.canvas-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0px;
}

#canvases {
    overflow: scroll;
}

canvas {
    position: absolute;
}
*/

.sample-point {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid red;
    position: absolute;
}

#footer {
    padding-top: 50px;
    padding-bottom: 10px;
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
    color: #777777;
}
