<script>
export let imageCanvas;
export let filledCanvas;
export let outlineCanvas;
</script>

<div class="col" id="canvases">
  <div class="canvas-container">
    <canvas id="img-canvas" bind:this={imageCanvas}></canvas>
    <!-- <div class="sample-point" ng-repeat="color in palette" style="left: (color.x - 5) + 'px', top: (color.y - 5) + 'px' }"></div> -->
  </div>

  <div class="canvas-container" bind:this={filledCanvas}>
    <canvas id="filled-canvas" result></canvas>
  </div>

  <div class="canvas-container" bind:this={outlineCanvas}>
    <canvas id="outline-canvas" result></canvas>
  </div>
</div>