<script>
	import {imageUrl} from './Store.js';
	let dragged = false;
    const handleLoad= (e) => {
        const file = (e.dataTransfer && e.dataTransfer.files[0]) || (e.target && e.target.files[0]);
        if (file.type.match(/image.*/)) {
            const reader = new FileReader();
            reader.onload = (event) => {
                imageUrl.set(event.target.result);
            };
            reader.readAsDataURL(file);
        } else {
            alert("wrong file format");
        }
    }
    const handleDefault= (e) => {
        imageUrl.set("./static/nile_delta.jpg");
    }
</script>
<style>
	#loader {
		background-color: lightcoral;
	}
	#loader.dragged {
		border: 4px dashed black;
		background-image:none;
	}
</style>
<div class="col" id="loader" class:dragged
    on:dragover|preventDefault={ () => dragged = true}
    on:dragleave|preventDefault={() => dragged = false}
    on:drop|preventDefault|stopPropagation={handleLoad}>
  <p>Drop image here,<br>or browse for one.</p><br>
  <button type="button">Browse
    <input type="file" id="fileBrowser" on:change={handleLoad}>
  </button>
  <button type="button" on:click={handleDefault}>Default</button>
</div>